.root {
    color: #f9eded;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: start;
    align-items: start;
}
.header1 {
    border-bottom: 10px solid #f3eeee;
    padding: 1px;
}
.p1 {
    padding: 20px;
    height: 1em;
    font-weight: 700;
    font-family: Arial, sans-serif;
    font-style: normal;
}
